
#slider-div{ width: 1000px;  height: 420px;  padding: 10px; overflow: hidden; margin: 0 auto; 
             -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                     border-radius: 5px;
                     background-color: #fff;
                     border:1px solid #ccc;
}

#slider{ min-width: 100%; min-height:100%; overflow:hidden; position: relative; display: block; margin:0; padding:0; border:0;}

#slider ul{ margin:0; padding:0; border:0; list-style:none; display:inline-block; float:left;} 

#slider ul li{  margin:0; padding:0; list-style-type:none; float: left; background-color: #fff; border:0; display: inline-block;}
#slider ul li img{ border: 0; padding: 0; margin: 0;  max-width:100%; min-height:100%; }
#slider a{ width: 45px; height: 45px; margin:10px; position: absolute; top: 42%; outline: 0; opacity: 0.3; z-index: 100}
#slider a:hover{ opacity: 1}
#subuprev{ left: 0; background: url("arrow_prev.png") no-repeat; cursor: pointer; position: relative;}
#subunext{ right: 0;background: url("arrow_next.png") no-repeat; cursor: pointer;position: relative;}
#sliderBulet{ height: 30px; position: absolute; right:10px; top: 20px; overflow: hidden;}
#sliderBulet>div{width: 16px; height: 16px;  margin:0; padding:0; border:0;  cursor: pointer;  margin-right: 5px; float: left; background:url("bullet_grey.png") no-repeat; text-align: center;}
.bulletactive{ background: url("bullet_yellow.png") no-repeat !important;}

.slider-title{ width: 60%; position: absolute; left: 60px; bottom: -100px; z-index: 2; /*background: url("black-dot.png");*/  padding: 0px; font-family: 'Roboto Slab', serif; font-weight: normal; font-size: 40px; color: #fff;}